
*{
  margin: 0;
  padding: 0;
 }
body {
background: black;
color: yellow;
       }
header {
  display: flex;
  justify-content: center;
       }
.logo, .top_menu {
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
       }
.top_menu li{
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
       }
.top_menu a   {
  font-family: arial;
  font-size: 16px;
  color: goldenrod;
  text-decoration: none;
  vertical-align: middle;
       }  
.top_menu a:hover{
  color: maroon;
}
.logo h1 {
  font-family: arial;
  font-size: 18px;
vertical-align: middle;
       }